html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

nav {
  background-color: #333 !important;
  color: white !important;
  padding: 0 !important;
}

.navbar a {
  color: white;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav {
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

nav li:first-child {
  margin-right: auto;
}

nav li:last-child {
  margin-right: 0;
}

nav li a {
  color: white;
  text-decoration: none;
}

section {
  width: 80%;
  margin: 80px auto 0 auto;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

input[type=text], input[type=email], textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}

input[type=submit] {
  background-color: #333;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

input[type=submit]:hover {
  background-color: #444;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}
