
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}


#contact {
  position: relative ;
  right: 20px;
}


/* .dropdown-color {
  background-color: black !important;
  }
  
.dropdown-content a {
  color: white !important;
  } */

h1 {
  text-align: center;
}


.parallax-container {
  width: 100% !important;
}

#grisey{
  width: 70%; 
  margin-left:28% ;  
}


.socialmediatitle {
  text-align: center; 
  font-size:24px
}

.socialmediapictures{
  text-align: center;
}

#pictures{
  width: 20% !important;
  position: relative !important;
}

#color{
  color: black !important;
}

form {
  display: flex;
  flex-direction: column;
  position: relative
}

footer {
  
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}


